.navClass{
    
    background: #2b3237;

    height: 30px;
    margin-top: 5px;
    
}
body{
    background: #2b3237;    
}
.askClass{
    
    margin-left: 280px;
    margin-top: 15px;
    font-size: 25px;    
}
.imageLogo{
    margin-left: 280px;
    margin-right: 400px;
    height: 20px;
    width: 70px;
    margin-top: 10px;
}
.imageTabs{
    height: 17px;
    width: 17px;
    margin-bottom: 5px;
    margin-left: 40px;
    margin-top: 12px;
}
.btnSize{
 height: 17px;
    width: 17px;
    
}
.dropdown-menu{
    background: #FF7043;
    
    
}
.dropdown-item{
    color: white;
    
}
.plus{
    
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 25px;
    
}
.dropImages{
    
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-left: 5px;
    
}
.dropdown-toggle{
    color: darkorange;
}
.bodyBox{
    
    width: 580px;
    height: 900px;
    margin-left: 2px;

    
     
}
.friendSection{
    width: 400px;
    height: 900px;
    
    margin-left: 280px;
       
}
.firstPart{
    height: 160px;
    background: #212121;
    border-radius: 3.5%;
    
}
.fontColor{
    color: #616161;
    font-weight: bold;
    margin-right: 40px;
    
}
.inputClass{
    
    width: 512px;
    margin-left: 12px;
   margin-top: 4px;    
}
.fontColor2{
     color: #616161;
    margin-left: 20px;
    margin-top: 15px;
    font-weight: 100;
}
.checkBox{
    
    margin-top: 20px;
    margin-left: 7px;
    
}
.playButton{
    
    width: 20px;
    height: 20px;  
}
.buttonClass{
    height: 40px;
    width: 100px;
    background: #FF7043;
    margin-left: 245px;
    margin-top: 2px;

}
a:hover{
    
    color: white;   
}
.fontProb3{
    font-weight: bold;
    color: white;
}
.userProfile{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
	margin-top: 10px;
	margin-left: 20px;	
	left:85%;	
}
.divClass{
     
	 margin-top: 10px;
	 margin-left: -300px;	
	 left:90%;
     color: #ECEFF1;
}
.userNameProb{
    
	 margin-top: -5px;
	 margin-left: 320px;	
	 left:90%;
     font-weight: bold;
}

.atNameProb{
    
	 margin-top: -40px;
	 margin-left: 320px;	
	 left:90%;
     font-weight:100;
}
.askButton{
    
     width: 70px;
     height: 37px;
	 margin-top: 10px;
	 margin-left:50px;	
	 left:90%;
     border-color: #2b3237;
     background: #2b3237;
     border-radius: 45%;
    
}
.arrowClass{
    
    width: 10px;
    height: 10px;    
}
.breakLine{
    color: black;
    margin-top:5px;
}
.aboutAsk{
    font-size: 12px;
    margin-right: 100px;
    color:#9E9E9E ;
}
.socialImg{
    margin-left: 12px;
}
.secondPart{
    width: 540px;
    height: 700px;
    background: white;
    margin-top: 22px; 
   border-radius: 1%;
    
}